<div id="header">
    <h1>Burger Logger</h1>
    <img src="../public/assets/img/Hamburger.png" alt="hamburger">
</div>
<div class="row">
    <div class="col md-4" id="not-devoured-burgers">
        <p>not-devoured-burgers</p>
        <ul>
            {{#each burgers}} {{#unless devoured}} {{{{> cats/cat-block sleep=false}}}} {{/unless}} {{/each}}
        </ul>
    </div>
    <div class="col md-4" id="input-section">
        <p>input-section</p>
    </div>
    <div class="col md-4" id="devoured-burgers">
        <p>devoured-burgers</p>
        <ul>
            {{#each burgers}} {{#if devoured}} {{this.burger_name}} {{/if}} {{/each}}
        </ul>
    </div>
</div>