<div id="header">
    <h1>Burger Logger</h1>
    <img src="../public/assets/img/Hamburger.png" alt="hamburger">
</div>
<div class="row">
    <div class="col md-4" id="not-devoured-burgers">
        <p>not-devoured-burgers</p>
    </div>
    <ul>
        {{#if !devoured}} {{#each burgers}}
        <li>
            <p>ID: {{this.id}}</p>
            <p>Task: {{this.burger_name}}</p>
        </li>
        {{/each}} {{/if}}
    </ul>
    <div class="col md-4" id="input-section">
        <p>input-section</p>
    </div>
    <div class="col md-4" id="devoured-burgers">
        <p>devoured-burgers</p>
    </div>
    <ul>
        {{#if devoured}} {{#each burgers}}
        <li>
            <p>ID: {{this.id}}</p>
            <p>Task: {{this.burger_name}}</p>
        </li>
        {{/each}} {{/if}}
    </ul>
</div>